body{
    font-family: 'Arial,sans-serif';
    background-color: #f4f6f8;
    margin:0;
    padding: 0;
}
h1{
    display: flex;
}
div{
        background-color: #2c3e50;
        padding: 15px ;
        margin: 0;
        display: flex;
        color: white;
        
}

h2{
    color: #2c3e50;
}
p{
    font-size: 16px;
}